<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "Tracker", root_url %>
                </li>
                <li>
                    <%= link_to "Checklists", vulnerabilities_path %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            
            <div class="row">
                    <div class="col-lg-12">
                    <p class="bg-info">
                        <%= form_tag({action: :create}, multipart: true) do %>
                            <div class="form-group">
                                <label for="inputFile">Upload Checklist</label>
                                <%= file_field_tag 'checklist', class: 'form-control' %>
                            </div>
                            <%= submit_tag('Upload', class: 'btn btn-default') %>
                        <% end %>
                    </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <h1>Tracked Vulnerabilities</h1>
            </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr> <th>Asset</th><th>Vuln ID</th><th>Severity</th><th>Status</th></tr>
                            <% @vulnerabilities.each do |vuln| %>
                            <tr> <td><%= vuln.asset.host_name %></td><td><%= vuln.vulnerability_number %></td><td><%= vuln.severity %></td><td><%= vuln.status %></td></tr>
                            <% end %>
                        </table>
                        
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
